<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.example.gmf.taipan.mylyn.TaipanContextStructureBridge">
      </structureBridge>
   </extension>
   <extension
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.example.gmf.taipan.mylyn.TaipanContextUiBridge"
            contentType="org.example.gmf.taipan.mylyn.uiBridge1">
      </uiBridge>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.example.gmf.taipan.mylyn.TaipanDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
      point="org.eclipse.mylyn.context.ui.startup">
      <startup
         class="org.example.gmf.taipan.mylyn.Activator$EcoreDiagramBridgeStartup">
      </startup>
   </extension>
</plugin>
